.scripture-styles {
  @include style-reset; // Clear out all the inherited styles and get back to a clean slate
  font-size: $base-font-size;
  font-family: $scripture-font;
  line-height: $base-line-height;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
}
