.scripture-styles {
	// replaces: darken($base-font-color, 80%);
	--ss-color-text-intense: #000000;

	// replaces: $base-font-color
	--ss-color-text: #2a2a2a;

	// replaces lighten($base-font-color, 25%);
	// - lighten($base-font-color, 40%);
	// - lighten($base-font-color, 35%);
	--ss-color-text-muted: #757575;

	// replace: hardcoded values: #dcdcdc, #cc0000;
	--ss-color-ui: #dedede;
	--ss-color-background: #fafafa;
	--ss-color-redlettter: #d32f2f;
	--ss-font-serif: 'Noto Serif', serif;
	--ss-font-sans: 'Noto Sans', sans-serif;

	// replaces: $scripture-font
	--ss-font: var(--ss-font-serif);

	// replaces: $base-font-size and $em-base
	--ss-rem: 1.125rem;

	// replaces: $base-line-height and $base-margin-height
	--ss-base-line-height: calc(1.5 * var(--ss-rem));
}

.scripture-styles[data-color-mode='dark'],
[data-color-mode='dark'] .scripture-styles:not([data-color-mode='light']) {
	--ss-color-text-intense: #ffffff;
	--ss-color-text: #d7d7d8;
	--ss-color-text-muted: #878787;
	--ss-color-ui: #434344;
	--ss-color-background: #212122;
	--ss-color-redlettter: #e57373;
}

.scripture-styles {
	font-size: var(--ss-rem);
	font-family: var(--ss-font-serif);
	line-height: 1.5;
	background: var(--ss-color-background);
	color: var(--ss-color-text);
	-webkit-font-smoothing: antialiased;
}
