@font-face {
    font-family: 'CharisSIL';
    src: url("./fonts/CharisSIL-B.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/CharisSIL-B.eot?#iefix") format("embedded-opentype"), url("./fonts/CharisSIL-B.woff") format("woff"), url("./fonts/CharisSIL-B.ttf") format("truetype"), url("./fonts/CharisSIL-B.svg#9de3a8cc006aa64657542c2e3ea14ca4") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: 'CharisSIL';
    src: url("./fonts/CharisSIL-BI.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/CharisSIL-BI.eot?#iefix") format("embedded-opentype"), url("./fonts/CharisSIL-BI.woff") format("woff"), url("./fonts/CharisSIL-BI.ttf") format("truetype"), url("./fonts/CharisSIL-BI.svg#341831b9f20a13db14052f8d0540b434") format("svg");
    /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
}


@font-face {
    font-family: 'CharisSIL';
    src: url("./fonts/CharisSIL-I.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/CharisSIL-I.eot?#iefix") format("embedded-opentype"), url("./fonts/CharisSIL-I.woff") format("woff"), url("./fonts/CharisSIL-I.ttf") format("truetype"), url("./fonts/CharisSIL-I.svg#261a66f9319a57426af4725ad9a3b894") format("svg");
    /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
}


@font-face {
    font-family: 'CharisSIL';
    src: url("./fonts/CharisSIL-R.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/CharisSIL-R.eot?#iefix") format("embedded-opentype"), url("./fonts/CharisSIL-R.woff") format("woff"), url("./fonts/CharisSIL-R.ttf") format("truetype"), url("./fonts/CharisSIL-R.svg#c00ec2248466a5a28666f0ffd1c5443a") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}