@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.woff2') format('woff2'),
        url('../fonts/NotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Light.woff2') format('woff2'),
        url('../fonts/NotoSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
        url('../fonts/NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-BoldItalic.woff2') format('woff2'),
        url('../fonts/NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Italic.woff2') format('woff2'),
        url('../fonts/NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
