@charset "UTF-8";

@import "settings";
@import "style-reset";
@import "mixins";
@import "functions";
@import "base";

// Let's namespace all the modules
.scripture-styles {
  @import "modules/chapters-verses";
  @import "modules/cross-references";
  @import "modules/footnotes";
  @import "modules/identification";
  @import "modules/introductions";
  @import "modules/other";
  @import "modules/paragraphs";
  @import "modules/poetry";
  @import "modules/special-text";
  @import "modules/tables";
  @import "modules/titles-headings";
}
