.eb-container {
    @include eb-reset; // Let's clear out all the inherited styles and get back to a clean slate
    font-size: $base-font-size;
    font-family: $scripture-font;
    line-height: $modular-scale-ratio;
    color: $base-font-color; // Choose the color of your choice. We recommend a slightly less stark grey/black as opposed to straightup black.
    // We want these rules applied to everything inside .eb-container
    * {
        background: none;
    }

}