.x {}

// Origin reference
.xo {
    font-weight: bold;
}

// keyword from the scripture translation
.xk {
    font-style: italic;
}

.xq {
    font-style: italic;
}

.xt {}

.xot {}

.xnt {}

.xdc {}
