.notelink {
    text-decoration: underline;
    padding: .1em;

    &, &:hover, &:active, &:visited {
        color: lighten($base-font-color, 35%);
    }

    sup {
        font-size: .7em;
        letter-spacing: -.03em;
        vertical-align: 0.25em;
        line-height: 0;
        font-family: "Helvetica", sans-serif;
        font-weight: bold;
    }

    & + sup:before {
        content: "\a0";
    }
}

// .note is a wrapper class for both cross refs and footnotes
.note {
    // @include adjust-font-size-to(16px);
}

.f {
    font-size: 0.75em;
    display: block;
    position: relative;
    padding: 1em;
    text-indent: 0;
    margin: 0.25em 0.75em;
    background-color: white;
    float: right;
    clear: right;
    width: 15em;
    margin-right: -16em;
    text-align: left;
    border-right: solid 3px lightgrey;

    &:after {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 10.5em;
        height: 100%;
        content: "";
        box-shadow: 1px 1px 4px rgba(black, 0.15);
    }
}

// Origin reference
.fr {
    font-weight: bold;
}

// Footnote keyword
.fk {
    font-style: italic;
    font-variant: small-caps;
}

// Footnote translation quotation.
// .fq {} & .fqa {}
[class^="fq"] {
    font-style: italic;
}

// Footnote label
.fl {
    font-style: italic;
    font-weight: bold;
}

// Footnote additional paragraph.
.fp {}

// Footnote verse number.
.fv {
    color: lighten($base-font-color, 25%);
    font-size: 0.75em;
    letter-spacing: -0.03em;
    vertical-align: 0.25em;
    line-height: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;

    &:after {
        content: "\a0";
    }
}

// Footnote text
.ft {}

.fe {}

// Deuterocanonical content
.fdc {}

.fs {}

// Footnote reference mark
.fm {}
