// Major title.
[class^="mt"] {
  text-align: center;
  font-weight: bold;
  letter-spacing: normal;
}

.mt,
.mt1,
.mt2 {
  font-size: 40px;
  line-height: $base-line-height * 2;
  margin-top: $base-margin-height;
  margin-bottom: $base-margin-height;
}

.mt2 {
  font-size: 34px;
  margin-top: -$base-line-height;
  font-style: italic;
  font-weight: normal;
}

// Major Section Heading - Headings before larger text divisions than what is typically considered a "section" division (see \s#).
// ms = h2, ms1 = h2, ms2 = h2 ms3 = h2
[class^="ms"],
.ms,
.ms1,
.ms2,
.ms3 {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: $base-line-height * 2;
  margin-top: $base-margin-height;
  margin-bottom: 0px;
}

// Major section reference range.
// The text reference range listed under a major section heading.
// mr = h3
.mr {
  font-size: 0.9em;
  margin-bottom: $base-margin-height;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

// Section Heading
// s = h3, s1 = h3, s2 = h4
.s,
.s1,
.s2,
.s3,
.s4 {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: $base-line-height * 2;
  margin-bottom: $base-margin-height;
  margin-top: 0px;
}

// Section reference range
// sr = h4
.sr {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: inherit;
  letter-spacing: normal;
}

// Parallel passage reference(s).
// r = h5
.r {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  letter-spacing: normal;
}

// Inline quotation reference(s).
//https://ubsicap.github.io/usfm/titles_headings/index.html#rq-rq
// .rq = <p>
.rq {
  font-size: inherit;
  line-height: $base-line-height;
  font-style: italic;
  text-align: right;
  letter-spacing: normal;
}

// Descriptive title (or "Hebrew subtitle")
// d = h3
.d {
  font-style: italic;
  text-align: center;
  font-size: inherit;
  letter-spacing: normal;
}

// Speaker Identification
// sp = h5
.sp {
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
  letter-spacing: normal;
}
