table {
    width: 100%;
    display: table;
}

// Table row <tr> markup
.tr {
    display: table-row;
}

// Table heading <td> markup
[class^=th] {
    font-style: italic;
    display: table-cell;
}

// Table heading right
[class^=thr] {
    text-align: right;
    padding-right: $modular-scale-ratio+em;
}

// Table cell
[class^=tc] {
    display: table-cell;
}

// Table cell right aligned
[class^=tcr] {
    text-align: right;
    padding-right: $modular-scale-ratio+em;
}