// Major title.
[class^=mt] {
    text-align: center;
    font-weight: bold;
}
.mt, .mt1 {
    @include adjust-font-size-to(47px);
    @include trailer(1,47px,margin);
}
.mt2 {
    @include adjust-font-size-to(29px);
    font-style: italic;
    font-weight: normal;
}


// Major Section Heading - Headings before larger text divisions than what is typically considered a "section" division (see \s#).
// ms = h2, ms1 = h2, ms2 = h3
[class^=ms] {
    text-align: center;
    font-weight: bold;
}

.ms, .ms1 {
    @include adjust-font-size-to(29px);
}

.ms2 {
    @include adjust-font-size-to(27px);
}

.ms3 {
    @include adjust-font-size-to(26px);
}

// Major section reference range.
// The text reference range listed under a major section heading.
// mr = h3
.mr {
    @include adjust-font-size-to(16px);
    @include trailer(1,16px,margin);
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

// Section Heading
// s = h3, s1 = h3, s2 = h4
.s, .s1 {
    text-align: center;
    font-weight: bold;
    @include adjust-font-size-to(20px);
}

.s2 {
    text-align: center;
    font-weight: bold;
    @include adjust-font-size-to(19px);
}

.s3 {
    text-align: center;
    font-weight: bold;
}

.s4 {
    text-align: center;
    font-weight: bold;
}

// Section reference range
// sr = h4
.sr {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

// Parallel passage reference(s).
// r = h5
.r {
    @include adjust-font-size-to(17px);
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

// Inline quotation reference(s).
// .rq = <p>
.rq {
    @include adjust-font-size-to(14px);
    font-style: italic;
    padding-left: rhythm(0.5);
}

// Descriptive title (or "Hebrew subtitle")
// d = h3
.d {
    font-style: italic;
    text-align: center;
}

// Speaker Identification
// sp = h5
.sp {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

[class^=p], [class^=q] {
    & + .s, & + .s1 {
        @include margin-leader(1,20px);
    }
}