// Major title.
[class^=mt] {
    text-align: center;
    font-weight: bold;
}
.mt, .mt1 {
    font-size: 2.8em;
}
.mt2 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: normal;
}


// Major Section Heading - Headings before larger text divisions than what is typically considered a "section" division (see \s#).
// ms = h2, ms1 = h2, ms2 = h3
[class^=ms] {
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
}

.ms, .ms1 {
    font-size: 1.6em;
}

.ms2 {
    font-size: 1.5em;
}

.ms3 {
    font-size: 1.4em;
}

// Major section reference range.
// The text reference range listed under a major section heading.
// mr = h3
.mr {
    font-size: .9em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

// Section Heading
// s = h3, s1 = h3, s2 = h4
.s, .s1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.s2 {
    text-align: center;
    font-weight: bold;
}

.s3 {
    text-align: center;
    font-weight: bold;
}

.s4 {
    text-align: center;
    font-weight: bold;
}

// Section reference range
// sr = h4
.sr {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

// Parallel passage reference(s).
// r = h5
.r {
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

// Inline quotation reference(s).
// .rq = <p>
.rq {
    font-size: .85em;
    line-height: 1.9;
    font-style: italic;
    padding-left: rhythm(0.5);
}

// Descriptive title (or "Hebrew subtitle")
// d = h3
.d {
    font-style: italic;
    text-align: center;
}

// Speaker Identification
// sp = h5
.sp {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

[class^=p], [class^=q] {
    & + .s, & + .s1 {
        margin-top: $modular-scale-ratio+em;
    }
}